@import "../utils/variables";

/* Effet tremblement Mentions légales et Contact du footer */

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-20px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(20px, 0, 0);
  }
}

/* Alternative tremblement */

@keyframes slidein {
  from {
    margin-right: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 200%;
  }
}

/* Animation points Prochainements */

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .20;
    transform: scale(.70);
  }
}


/* Soulignement des titres de menus Entrée Plat Dessert */

h3::after{
  content: "";
  border-bottom: solid 2px black;
  display :block;
  width: 100%;
  height: 100%;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 600ms cubic-bezier(.32,0,.07,1); 
}

h3:hover::after{
  transform: scaleX(1);
}

/* Couleurs du soulignement pour le seul restaurant Le chic français */

.menu__chic-francais{

  & .titre1::after{
    border-bottom: solid 2px map-get($chic_francais, coul_titre_ent);
  }

  & .titre2::after{
    border-bottom: solid 2px map-get($chic_francais, coul_titre_plat);
  }

  & .titre3::after{
    border-bottom: solid 2px map-get($chic_francais, coul_titre_des);
  }

}

