@import "../utils/variables";
@import "../base/polices";



@mixin couleur-fond-police($restaurant){
	 background-color: map-get($restaurant,coul_fond_page);
	 box-shadow: 1px 1px 2px gray;
	 overflow:hidden;
	 font-family: map-get($restaurant,font);
}
	

@mixin degrade{
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



