@import "../utils/variables";
@import "../base/polices";



@mixin couleur-fond-police($restaurant){
	 background-color: map-get($restaurant,coul_fond_page);
	 box-shadow: 1px 1px 2px gray;
	 overflow:hidden;
	 font-family: map-get($restaurant,font);
}
	

@mixin degrade{
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin break_pages_rest ($b1,$b2,$m1-2){
	@media screen and (min-width: map-get($bp_pages_rest,$b1)) and (max-width: map-get($bp_pages_rest,$b2)){
		margin-bottom: map-get($mb_pages_rest,$m1-2);
	}
}

@mixin break_page_accueil ($b1,$b2,$m1-2){
	@media screen and (min-width: map-get($bp_page_accueil,$b1)) and (max-width: map-get($bp_page_accueil,$b2)){
		margin-bottom: map-get($mb_page_accueil,$m1-2);
	}
}
