$note_enchantee:(
nom: ".menu__note-enchantee",
coul_titre_rest:#3D1319,
coul_titre_ent:#3D1319,
coul_titre_plat:#3D1319,
coul_titre_des:#3D1319,
coul_note_pied:#3D1319,
coul_fond_page:#FDE0DC,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"typo_comics_light_italic_demo",
font2:"Devonshire-Regular"
);



$chic_francais:(
nom: ".menu__chic-francais",
coul_titre_rest:false,
coul_titre_ent:#D18C3E,
coul_titre_plat:#A56799,
coul_titre_des:#6E4CCC,
coul_note_pied:false,
coul_fond_page:#FFF5FE,
coul_text_ent:#D18C3E,
coul_text_plat:#A56799,
coul_text_des:#6E4CCC,
font:"JD Carnival Black"
);

$delice_papille:(
nom: ".menu__delice-papilles",
coul_titre_rest:false,
coul_titre_ent:#000000,
coul_titre_plat:#000000,
coul_titre_des:#000000,
coul_note_pied:false,
coul_fond_page:#EDEFEF,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"Dancing Script"
);

$palette_gout:(
nom: ".menu__palette-gout",
coul_titre_rest:false,
coul_titre_ent:#000000,
coul_titre_plat:#000000,
coul_titre_des:#000000,
coul_note_pied:false,
coul_fond_page:#FDFFFD,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"averia-lightitalic",
font2:"averia-lightitalic"
);

$header-footer_proche:(
coul_fond:#579C87,
coul_logo:#FDCB46,
coul_text:#FDCB46
);

$bp:(

b1:320px,
b2:389px,

b3:390px,
b4:439px,

b5:440px,
b6:549px,

b7:550px,
b8:599px,

b9:600px,
b10:649px,

b11:650px,
b12:700px,

b13:701px,
b14:749px,

b15:750px,
b16:799px,

b17:800px,
b18:849px,

b19:850px,
b20:900px,

b21:900px,
b22:1000px);

$mb:(

m1-2:22%,

m3-4:18%,

m5-6:16%,

m7-8:14%,

m9-10:12%,

m11-12:11%,

m13-14:10%,

m15-16:10%,

m17-18:9%,

m19-20:9%,

m21-22:8%);