/* Carte de variables couleurs et polices pour chacun des 4 restaurants */

$note_enchantee:(
coul_titre_rest:#3D1319,
coul_titre_ent:#3D1319,
coul_titre_plat:#3D1319,
coul_titre_des:#3D1319,
coul_note_pied:#3D1319,
coul_fond_page:#FDE0DC,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"typo_comics_light_italic_demo",
font2:"Devonshire-Regulars");


$chic_francais:(
coul_titre_rest:false,
coul_titre_ent:#D18C3E,
coul_titre_plat:#A56799,
coul_titre_des:#6E4CCC,
coul_note_pied:false,
coul_fond_page:#FFF5FE,
coul_text_ent:#D18C3E,
coul_text_plat:#A56799,
coul_text_des:#6E4CCC,
font:"JD Carnival Black"
);

$delice_papille:(
coul_titre_rest:false,
coul_titre_ent:#000000,
coul_titre_plat:#000000,
coul_titre_des:#000000,
coul_note_pied:false,
coul_fond_page:#EDEFEF,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"Dancing Script"
);

$palette_gout:(
coul_titre_rest:false,
coul_titre_ent:#000000,
coul_titre_plat:#000000,
coul_titre_des:#000000,
coul_note_pied:false,
coul_fond_page:#FDFFFD,
coul_text_ent:false,
coul_text_plat:false,
coul_text_des:false,
font:"averia-lightitalic",
font2:"averia-lightitalic"
);

/* Couleurs header, prochainement et footer  */

$header-footer_proche:(
coul_fond:#579C87,
coul_logo:#FDCB46,
coul_text:#FDCB46
);

/* Breakpoint margin bottom entre le bas des menus et le footer fixe pour les 4 restaurants */

$bp_pages_rest:(

b1:320px,
b2:389px,

b3:390px,
b4:439px,

b5:440px,
b6:549px,

b7:550px,
b8:599px,

b9:600px,
b10:649px,

b11:650px,
b12:700px,

b13:701px,
b14:749px,

b15:750px,
b16:799px,

b17:800px,
b18:849px,

b19:850px,
b20:900px,

b21:900px,
b22:1000px);

$mb_pages_rest:(

m1-2:22%,

m3-4:18%,

m5-6:16%,

m7-8:14%,

m9-10:12%,

m11-12:11%,

m13-14:10%,

m15-16:10%,

m17-18:9%,

m19-20:9%,

m21-22:8%);

/* Breakpoints entre le Prochainement et le footer fixe pour la seule page d'accueil */

$bp_page_accueil:(

b1:300px,
b2:379px,

b3:380px,
b4:449px,

b5:450px,
b6:520px,

b7:520px,
b8:620px,

b9:700px,
b10:860px);

$mb_page_accueil:(

m1-2:22%,

m3-4:18%,

m5-6:16%,

m7-8:13%,

m9-10:10%);