@import "../utils/variables";

.header {
width: 100%;
background-color: map-get($header-footer_proche,coul_fond);
padding: 10px 0;
text-align: center;
}


.header img{
width: 40%;
height: auto;
color:map-get($header-footer_proche,coul_logo);
}