@import "../utils/variables";

.proche {
display:grid;
grid-template-column: 1fr;
width: 40%;
margin-top: 1%;
margin-bottom: 7%;
margin-left: auto;
margin-right: auto;
background-color: map-get($header-footer_proche,coul_fond);
border-radius: 8%;
padding-top: 1%;
padding-bottom: 1%;
text-align: center;
color:yellow;
font-size: 1.2rem}

.bulle {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
	background-color: map-get($header-footer_proche,coul_text);
	transition-property: animation;
}

.bulle-1 {
	animation: pulse .4s ease 0s infinite alternate;
}
.bulle-2 {
	animation: pulse .4s ease .2s infinite alternate;
}
.bulle-3 {
	animation: pulse .4s ease .4s infinite alternate;
}


@media screen and (max-width: 600px){

	.proche {
		margin-bottom: 23%;
		width: 45%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		font-size: 1rem}
}

@media screen and (max-width: 980px){
	.proche{
		margin-bottom: 8%;
	}
}

@media screen and (max-width: 860px){
	.proche{
		margin-bottom: 12%;
	}
}

.proche{
		@include break_page_accueil(b1,b2,m1-2);
		@include break_page_accueil(b3,b4,m3-4);
		@include break_page_accueil(b5,b6,m5-6);
		@include break_page_accueil(b7,b8,m7-8);
		@include break_page_accueil(b9,b10,m9-10);
	}