.accueil {
  width: 100%;
  font-size: 1rem; }

.restaurant {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 50px;
  justify-items: center;
  margin-top: 30px;
  margin-bottom: 30px; }

.restaurant img {
  width: 550px;
  height: auto; }

.restaurant__menu {
  box-shadow: 5px 5px 5px 5px gray; }

.restaurant__menu img:hover {
  opacity: 0.3;
  transform: scale(1.1); }
