body {
  padding: 0;
  margin: 0; }

.bloc_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0; }

.restaurant {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

.restaurant img {
  width: 100%;
  height: auto; }

.restaurant__menu {
  box-shadow: 1px 1px 2px gray;
  overflow: hidden; }

.restaurant__menu img:hover {
  opacity: 0.3;
  transform: scale(1.1); }

@media screen and (max-width: 701px) {
  .restaurant {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px; } }
