.header {
  width: 100%;
  background-color: #579C87;
  padding: 10px 0;
  text-align: center; }

.header img {
  width: 40%;
  height: auto;
  color: #FDCB46; }

@media screen and (max-width: 700px) {
  .header img {
    width: 60%;
    height: auto; } }
