@import "../utils/mixins";
@import "../utils/variables";
@import "../base/polices";

.mention_legale{
	text-align: justify;
}

.bloc_page{
	display:flex;
	flex-direction: column;
	width: 100%;
	height:100%;
}

section{
	display:flex;
	flex-direction: column;
	margin-left: 15%;
	margin-right: 15%;
	margin-top:2%;
	margin-bottom: 7%;
	font-size:1.2rem;
}

h2, h3{
	text-align: center;
}



ul{
	display:grid;
	grid-template-columns: 3fr 1fr;
	grid-column-gap: 10px;
	list-style: none;
}

.choix__menu{
	text-align: left;
}

.choix__prix{
	text-align: center;
}

.menu__header__logo{
	text-align: center;
}

.menu__header{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:5%;
	font-size: 2rem;

}

.note_music{
	width: 10%;
	height: auto;
}

.menu__header-nom{
	margin-top: 0;
}

.menu__footer{
	width: 100%;
	height: 30%;
	display:flex;
	justify-content: center;
	margin-bottom: 5%;
}


.menu__footer__name{
	text-align: left;
	margin-bottom: 0;
	font-size: 2rem;
	
	
}
 .menu__footer__note-music{
 	width:5%;
 	height: auto;
 	
 }
	



.menu__entree-titre, .menu__plat-titre, .menu__dessert-titre{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:40%;
	margin-left: 5%;
	margin-right: 5%;
}

.trait__gauche, .trait__droit{
	width: 30%;
}



.menu__note-enchantee{
	@include couleur-fond-police($note_enchantee);

	color:lighten(map-get($note_enchantee,coul_titre_rest),5%);

	h2, .menu__footer__name{font-family: map-get($note_enchantee,font2);}
	
}

.menu__chic-francais{

	@include couleur-fond-police($chic_francais);
	
	.menu__entree{
		color:map-get($chic_francais,coul_text_ent);}
		.menu__plat{
			color:map-get($chic_francais,coul_text_plat);}
			.menu__dessert{
				color:map-get($chic_francais,coul_text_des);}
	h2{
		background:linear-gradient(300deg, #8F5BFE 40%, #E38913 100%);
		@include degrade;}
}

.menu__delice-papilles{
	@include couleur-fond-police($delice_papille);

	h2{
		background:linear-gradient(45deg, #1530b7 10%, #56a7e6 60%, #56a7e6 80%);
		@include degrade;}
	
}

.menu__palette-gout{

	@include couleur-fond-police($palette_gout);

	h2{
		background:linear-gradient(45deg, #55924d 10%, #c8fa80 60%, #c8fa80 80%);
		@include degrade;
		font-family: map-get($palette_gout,font2);
		font-style: oblique;}
}

